* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo";
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-primary-color: #f1f5f9;
  --text-color-secondary: #CBD5E1;
}

body {
  color: var(--text-primary-color);
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--brand-color-light);
}

h1, h2, h2 {
  font: inherit;
}


img {
  max-width: 100%;
}

main {
  margin-top: 40px;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}